<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/estilos.css" />
    <title>Basic express and EJS service client example.</title>
    <style>
        footer{
            background-color: black;
            color: white;
            margin-bottom: 0;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
        }
        nav{
            background-color: black;
            color: white;
        }
        a{
            color:white;
        }

    </style>
</head>
<body>
    <nav>
        <a href="/"> [text capitalization] </a> 
        <a href="/persist_form">   [database insertion] </a>
    </nav>
