<%# The line bellow loads the entire contens of header.ejs%>
<%-include('base_header') -%>

<p> Service response: <%=service_response %> </p>

<%# Includes the entire contents of footer.ejs %>
<%- include('base_footer') -%>